
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
.menu {display: none}
.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/w3images/pizza.jpg");
    min-height: 90%;
}

ul {
  list-style: none;
}


.backdrop {
	background: url("https://ih0.redbubble.net/image.435226995.7543/flat,750x1000,075,t.u1.jpg");
	background-repeat: repeat;
	margin-top: 100px;
	margin-bottom: 100px;

}

.panel {
	background: white	;
	margin: auto;

	min-width: 40%;
	max-width: 60%;
	opacity: 0.95;
	font-family: 'Gloria Hallelujah', cursive;


}

.blur {
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;

}

.blur:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.box {
	padding: 0px;
	font-family: 'Gloria Hallelujah', cursive;
  color: white;

}

.fancy-font {
	font-family: 'Poiret One', cursive;

}

.italics {
	font-style: italic;
	color: gray;
}


.zoom {
    padding: 50px;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.yuri {
	background: url("./images/yuri.png");
	background-repeat: repeat;
	background-size: 100px;
	min-height: 700px; 
	margin-top: 30px;

}

.lightup { 
  opacity: 0.7; 
} 

.lightup:hover { 
  opacity: 1; 
}


/* Navigation Bar */

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}



